<div class="main-size light-blue">
    <input type="text" class="form-control" [(ngModel)]="inputValue" placeholder="Enter a text">
    <button type="button" class="btn btn-primary" (click)="doSomething()">Do Something</button>
    <br>
    <br>
    <p>
        {{ inputValue }}
    </p>
    <br>
    <p>
        {{ numberFromParent }}
    </p>
    <hr>
    <br>
    <br>
    <input type="text" class="form-control" [(ngModel)]="message" placeholder="Enter your message">
    <button type="button" class="btn btn-primary" (click)="sendMessage()">Send</button>
    <br>
    <p>
        {{ message }}
    </p>
</div>